#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(101, 103, 126);
}

.Navbar {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.Navbar button {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-left: 10px;
  margin: 10px;

}

.Navbar img {
  width: 120px;
}

.Sidebar {
  background-color: rgb(161, 161, 161);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10rem;
  padding-top: 2cqb;
  margin-bottom: 20px;
  
}

.Sidebar img {
  margin: 10px;
}

.HomePage {
  background-color: rgb(101, 103, 126);
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.HomePage img {
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

.Footer {
  background-color: black;
}

.Footer button {
  margin: 10px;
}

.About {
  background-color: rgb(196, 178, 151);
  padding: 20px;
  min-width: 100%;

}

.CompaniesDetailsPage {
  background-color: rgb(101, 103, 126);
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}


.DetailsBike img{
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

