#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(171, 190, 190);
  
}

.bg-body-tertiary {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-body-tertiary span {
  color: rgb(66, 133, 127);
}

.bg-body-tertiary h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.bg-body-tertiary button {
  background-color:  rgb(66, 133, 127);
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-left: 10px;
  margin: 10px;

}

.bg-body-tertiary img {
  width: 200px;
}

.HomePage {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 10px;
}

.HomePage img {
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

.Footer {
  background-color: black;
  height: 80px
}

.Footer button {
  margin: 20px;
}

.About {
  background-color: rgb(151, 195, 196);
  padding: 60px;
}

.About img {
  margin-top: 20px;
  border-radius: 20px;
}

.CompaniesDetailsPage {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.companydetails img {
  margin-bottom: 2rem;
}


.DetailsBike img{
  border-radius: 20px;
  width: 300px;
  height: 200px;
}

.DetailsBike button {
  margin-left: 30px;
  margin-bottom: 20px;
}

.DetailsBike h1 {
  background-color: rgb(66, 133, 127);
  border-radius: 20px;
  color: aliceblue;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
}


.companydetails {
  background-color: rgb(66, 133, 127);
  border-radius: 30px;
  margin: 40px;
  padding: 20px;
  padding-top: 40px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.CreateBike button{
  margin-bottom: 20px;
  background-color: rgb(2, 143, 60);
  border-color: black;
  color: black;
}

.CardBikes {
  border-radius: 20px;
}

.CardCompany {
  width: 300px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.CardCompany img {
  border-radius: 20px;
  height: 250px;
  object-fit: cover;
}

.bikedetails span{
  color: rgb(0, 0, 250);
}

.companydetails span {
  color: rgb(0, 0, 250);
}


@media (max-width: 705px){
  .bg-body-tertiary {
    display: flex;
    justify-content: center;
    

  }

  .bg-body-tertiary img {
    width: 100px;
  }

  .bg-body-tertiary h1 {
    font-size:larger;
    padding-top: 18px;
  }

 .custome-navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: auto;
 }

 .About {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

.About img {
  width: 300px;
}

.toggleBtn .navbar-toggler-icon{
  width: 12px;
  height: 12px;
}

.bg-body-tertiary button {
  margin-top: 0px;
}



}